<div id="fundo-externo">
  <div id="fundo">
    <img src="assets/img/cidades_inteligentes.jpg" alt="" />
  </div>
</div>

<!-- <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box"> -->
<!-- <div class="jumbotron"> -->
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-2 col-sm-offset-1 custom">
      <h2 style="text-align: center; color: chartreuse;">Welcome back!</h2>
      <br>
      <alert></alert>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="/assets/icons/bootstrap/person-fill.svg" alt=""
                  width="24" height="24" title="person"></span>
            </div>
            <input type="text" placeholder="Username" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          </div>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="/assets/icons/bootstrap/lock-fill.svg" alt=""
                  width="24" height="24" title="person"></span>
            </div>
            <input type="password" placeholder="Password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>

        <div class="form-group text-center marbot">
          <div class="col-xl-12">
            <button [disabled]="loading" class="btn btn-lg btn-success btn-block" style="height: 2em">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
        </div>

        <div class="row marbot">
          <div class="col-auto mr-auto col-3">
            <a routerLink="/"> <button type="button" class="btn btn-lg btn-secondary btn-block"> <img
                  src="/assets/icons/bootstrap/arrow-left.svg" alt="" width="24" height="24" title="Rota"
                  style="height: 2em"> Back</button></a>
          </div>
          <div class="col-auto col-6">
            <a routerLink="/register"><button class="btn btn-lg btn-primary btn-block"
                style="height: 2em">Registar</button></a>
          </div>
        </div>

        <!-- <div class="row justify-content-end marbot">
          <div class="col-6">
            <a routerLink="/register"><button class="btn btn-lg btn-primary btn-block"
                style="height: 2em">Registar</button></a>
          </div>
        </div> -->

        <br>

        <div class="form-group">
          <a routerLink="/register-chefe" class="btn btn-link">Register Chefe</a>
        </div>
      </form>
    </div>
    <!-- </div> -->
  </div>
</div>
<!-- </div>
</div> -->
