<h1>
    Que Ecopontos Vai Percorrer e Qual a Ordem?</h1>
<table class="table table-bordered products-table">
    <tr>
        <th>Sensor</th>
        <th>Distrito</th>
        <th>Concelho</th>
        <th>Freguesia</th>
        <th>Rua</th>
        <th>CodigoPostal</th>
        <th>Tipo</th>
        <th>Estado(%)</th>
    </tr>
    <tr *ngFor="let ecoponto of ecopontos">
        <td>{{ecoponto.sensor}}</td>
        <td>{{ecoponto.distrito}}</td>
        <td>{{ecoponto.concelho}}</td>
        <td>{{ecoponto.freguesia}}</td>
        <td>{{ecoponto.rua}}</td>
        <td>{{ecoponto.codigoPostal}}</td>
        <td>{{ecoponto.tipo}}</td>
        <td>{{ecoponto.estado}} %</td>
    </tr>
</table>
<app-maps></app-maps>