<div class="container-fluid">
    <div class="card col-md-12 font-weight-bold card-header" style="margin-top: 10px">
      <div>
        <h2 class="col-md-9" style="display: inline-block;">Lista de Ecopontos na rota</h2>
      </div> 
    </div>
  
    <div class="row mt-2">
  
      <div class="col-md-12">
        <div class="col-md-1" style="display: inline-block;">
            <h6>Sensor</h6>
        </div>
        <div class="col-md-2" style="display: inline-block;">
            <h6>Distrito</h6>
        </div>
        <div class="col-md-3" style="display: inline-block;">
            <h6>Rua</h6>
            <small>Freguesia, Concelho</small>
        </div>
        <div class="col-md-2" style="display: inline-block;">
            <h6>Cod. Postal</h6>
        </div>
        <div class="col-md-2" style="display: inline-block;">
            <h6>Tipo Lixo</h6>
        </div>
        <div class="col-md-2" style="display: inline-block;">
            <h6>Taxa Ocupação</h6>
        </div>
    </div>
  
    <div class="col-md-12 mb-1" *ngFor="let ecoponto of ecopontos">
        <div class="card">
          <div class="card-body">
              <div class="row justify-content-between align-items-center">
                <div class="col-md-1">
                  <small>{{ ecoponto.id }}</small>
                </div>
  
                <div class="col-md-2">
                  <h5>{{ ecoponto.distrito }}</h5>
                </div>  
                
                <div class="col-md-3">
                  {{ ecoponto.rua }}<br />
                  <b>{{ ecoponto.freguesia }}, {{ ecoponto.concelho }}</b>
                </div>
  
                
                <div class="col-md-2">{{ ecoponto.codigoPostal }}</div>
                <div class="col-md-2 font-weight-bold">{{ ecoponto.tipo }}</div>
                <div class="col-md-2">{{ ecoponto.estado }}%</div>
              </div>
        </div>
        </div>
      </div>

    <div class="view-side-form">
      <router-outlet></router-outlet>
    </div>
  </div>
<app-maps></app-maps>