<div class="card mt-4">
    <h4 class="card-header">Perfil</h4>
    <div class="container">
        <div class="row profile">
            <div class="card-body">
                <div class="profile-sidebar">

                    <div class="profile-userpic">
                        <img src="https://www.medaid.co.uk/wp-content/uploads/2019/04/default.jpg" style="width: 240px; height: 240px;" alt="Image">
                    </div>

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{currentUser.firstName}} {{currentUser.lastName}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{currentUser.role}}
                        </div>
                    </div>

                    <div class="profile-userbuttons">
                        <button type="button" routerLink="/updateUser" class="btn btn-success btn-sm">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>