<h1>Camiões</h1>
<a routerLink="adicionarCamiao" class="btn btn-sm btn-primary mt-1">Adicionar Camiao</a>
<table class="table table-bordered products-table">
    <tr>
        <th>Matricula</th>
        <th>Carga</th>
        <th>Distrito</th>
        <th>Concelho</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th></th>
    </tr>
    <tr *ngFor="let camiao of camioes">
        <td><a [routerLink]="['editarCamiao', camiao.id]">{{camiao.matricula}}</a></td>
        <td>{{camiao.carga}}</td>
        <td>{{camiao.distrito}}</td>
        <td>{{camiao.concelho}}</td>
        <td>{{camiao.tipo}}</td>
        <td>{{camiao.estado}}</td>
        <td class="delete-column">
            <button (click)="deleteCamiao(camiao.id)" [disabled]="camiao.deleting" class="btn btn-sm btn-danger">
        <span *ngIf="camiao.deleting" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
        </td>
    </tr>
</table>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>