<div class="row" style="padding: 1%;">
  <div style="padding-left: 3%;"></div>
  <div class="col-md-3">
    <div class="card card-stats card-warning">
      <div class="card-body ">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-trash la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Total de ecopontos:</p>
              <h4 class="card-title">{{valorTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="card card-stats card-success">
      <div class="card-body ">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-truck la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Total de camioes:</p>
              <h4 class="card-title">{{ntotalCamiao}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="card card-stats card-danger">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-users la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Total funcionários:</p>
              <h4 class="card-title">{{nUserTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding: 1%;">
  <div style="padding-left: 3%;"></div>
  <div class="col-md-3">
    <div class="card card-stats card-warning">
      <div class="card-body ">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-envelope la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Recolhas pendentes:</p>
              <h4 class="card-title">{{nNotPendentes}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="card card-stats card-success">
      <div class="card-body ">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-envelope-open-text la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Recolhas concluidas:</p>
              <h4 class="card-title">{{nNotConcluidas}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="card card-stats card-danger">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="la la-envelope-open la-5x"></i>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="numbers">
              <p class="card-category">Total recolhas no sistema:</p>
              <h4 class="card-title">{{nNotTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="card" style="padding-left: 10%;padding-right: 10%;">
  <p style="text-align:center;margin-top: 5%;"><b>Informação do número de ecopontos</b></p>
  <highcharts-chart 
    [Highcharts]="Highcharts"
   
    [constructorType]="chartConstructor"
    
    [callbackFunction]="chartCallback"
   
    [(update)]="updateFlag"
    [oneToOne]="oneToOneFlag"
    [runOutsideAngular]="runOutsideAngular"
    [options]="chartOptions"
    
    style="width: 90%; height: 90%; display: block;"
  ></highcharts-chart>
  </div>  