agm-map {
  height: 220px;
}

.backgroundVerde {
  background-color: #4CAF50;
}

.colorVerde {
  color: #4CAF50;
}

.colorVerdeRgba {
  color: rgba(76, 175, 80, 1);
}

.custom-toggler.navbar-toggler {
  /* border-color: rgb(255, 102, 203); */
  border-color: rgba(76, 175, 80, 1);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(76, 175, 80, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
