iframe {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

agm-map {
    height: 145px;
    margin-bottom: 10%;
}