﻿<h1 *ngIf="currentUser">Bem vindo de volta {{currentUser.username}}!</h1>

<div class="card mt-4">
    <h4 class="card-header">Garbage Collector</h4>
    <div class="card-body">
        <p>Mapa atual:</p>

        <app-maps></app-maps>

        <!-- Tentiva da API google mas nao temos key 
        <agm-map [latitude]=lat [longitude]=long></agm-map>  
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2998.4924363660416!2d-8.377675684210038!3d41.276386010831224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1575403006940!5m2!1spt-PT!2spt"
      width="95%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      -->

        <div *ngIf="currentUser">
            <div *ngIf="currentUser.role == 'Admin'" class="profile-userbuttons">
                <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
            src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota"> Ver
          Rota</button>
            </div>
            <div *ngIf="currentUser.role == 'Gestor_Chefe' || currentUser.role=='Gestor'" class=" profile-userbuttons">
                <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
            src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota"> Gerar
          Rota</button>
            </div>
            <div *ngIf="currentUser.role == 'Camionista'" class="profile-userbuttons">
                <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
            src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota"> Ver
          Rota</button>
            </div>

        </div>
    </div>
</div>