﻿<h4 class="card-header">
  <!-- <div align="left">Lista dos Ecopontos</div> -->
  <div class="row">
    <div class="col-4"><h1>Lista dos Ecopontos</h1></div>
  <!-- </div> -->
  <!-- <div align="left">
    <a routerLink="adicionarEcoponto" class="btn btn-primary" style="margin-top: 0em;">Adicionar Ecoponto</a>
  </div> -->
  <!-- <div align="right">
    <a routerLink="adicionarEcoponto" class="btn btn-primary" style="margin-top: 0em;">Adicionar Ecoponto</a>
  </div> -->
    <div align="center" class="col-2 offset-md-0">
      <a routerLink="adicionarEcoponto" class="btn btn-primary btn-block">Adicionar Ecoponto</a>
    </div>  
  </div>
</h4>
    <!-- <div align="right" class="col-2">
      <a routerLink="adicionarEcoponto" class="btn btn-primary btn-block">Adicionar Ecoponto</a>
    </div> -->

<!-- <h1>Lista dos Ecopontos</h1> -->

<!-- <br> -->
<!-- <div align="right">
  <a routerLink="adicionarEcoponto" class="btn btn-sm btn-primary mt-1">Adicionar Ecoponto</a>
</div> -->

<table class="table table-bordered products-table">
  <tr>
    <th>#</th>
    <th>Distrito</th>
    <th>Concelho</th>
    <th>Freguesia</th>
    <th>Rua</th>
    <th>Codigo-Postal</th>
    <th>Tipo</th>
    <th>Estado(%)</th>
    <th></th>
  </tr>
  <tr *ngFor="let ecoponto of ecopontos">
    <td><a [routerLink]="['editarEcoponto', ecoponto.id]">{{ecoponto.id}}</a></td>
    <td>{{ecoponto.distrito}}</td>
    <td>{{ecoponto.concelho}}</td>
    <td>{{ecoponto.freguesia}}</td>
    <td>{{ecoponto.rua}}</td>
    <td>{{ecoponto.codigoPostal}}</td>
    <td>{{ecoponto.tipo}}</td>
    <td>{{ecoponto.estado}} %</td>
    <td class="delete-column">
      <button (click)="deleteEcoponto(ecoponto.id)" [disabled]="ecoponto.deleting" class="btn btn-sm btn-danger">
        <span *ngIf="ecoponto.deleting" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
    </td>
  </tr>
</table>
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>

<!-- Outra Forma de Fazer, fazendo uso do GRID bootstrap, mas está com melhor aspeto na abordagem acima. -->
<!-- <h1>Lista dos Ecopontos</h1>
<a routerLink="adicionarEcoponto" class="btn btn-sm btn-primary mt-1">Adicionar Ecoponto</a>

<div class="row">
  <div class="col-md-1">Sensor</div>
  <div class="col-md-1">Distrito</div>
  <div class="col-md-1">Concelho</div>
  <div class="col-md-2">Freguesia</div>
  <div class="col-md-2">Rua</div>
  <div class="col-md-1">CodigoPostal</div>
  <div class="col-md-1">Tipo</div>
  <div class="col-md-1">Estado(%)</div>
  <div class="col-md-2"></div>
</div>


<div *ngFor="let ecoponto of ecopontos">
  <div class="row">
    <div class="col-md-1"><a [routerLink]="['editarEcoponto', ecoponto.id]">{{ecoponto.sensor}}</a></div>
    <div class="col-md-1">{{ecoponto.distrito}}</div>
    <div class="col-md-1">{{ecoponto.concelho}}</div>
    <div class="col-md-2">{{ecoponto.freguesia}}</div>
    <div class="col-md-2">{{ecoponto.rua}}</div>
    <div class="col-md-1">{{ecoponto.codigoPostal}}</div>
    <div class="col-md-1">{{ecoponto.tipo}}</div>
    <div class="col-md-1">{{ecoponto.estado}} %</div>
    <div class="col-md-2">
      <button (click)="deleteEcoponto(ecoponto.id)" [disabled]="ecoponto.deleting" class="btn btn-sm btn-danger">
        <span *ngIf="ecoponto.deleting" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
    </div>
  </div>
</div>

<div class="view-side-form">
  <router-outlet></router-outlet>
</div> -->
