<!--component html goes here -->
<div class="container-fluid">
    <div class="card" style="margin-top: 10px">
        <div>
            <h2 class="font-weight-bold card-header">Lista de utilizadores</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-2 card-body">
            <h4>Id utilizador</h4>
        </div>
        <div class="col-md-5 card-body">
            <h4>Primeiro nome</h4>
        </div>
        <div class="col-md-5 card-body">
            <h4>Último nome</h4>
        </div>
        <div class="col-md-12 mb-1" *ngFor="let user of users">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-2">
                            <h5>{{user.id}}</h5>
                        </div>
                        <div class="col-md-5">
                            <h5>{{user.firstName}}</h5>
                        </div>
                        <div class="col-md-5">
                            <h5>{{user.lastName}}</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




