#updateUser {
    height: 100vh !important;
  
    background-image: url("/assets/img/cidades_inteligentes.jpg");
    background-position: center;
  
    &>.row {
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
  
      &>.updateUser-section {
          background: rgba(#434343, 0.75);
  
          h2 {
              margin-top: 1.5rem;
          }
  
          form {
              padding: 20px;
          }
  
      }
    }
  }
  