<div id="updateUser" class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 updateUser-section">
                <h2 class="text-white text-center">Update</h2>
                <alert></alert>
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" placeholder="First Name" [(ngModel)]="user.firstName" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Username" [(ngModel)]="user.username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" [(ngModel)]="user.password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary btn-block">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Update
            </button>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-6">
                            <a routerLink="/profile"><button class="btn btn-danger btn-block">Cancelar</button></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
