﻿<div class="jumbotron" style="background-image: url(assets/img/cidades_inteligentes.jpg);">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h2 style="text-align: center; color: white;">Notificação</h2>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <app-maps></app-maps>
                </div>
            </div>

            <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
                <div>
                    <div class="form-group ">
                        <textarea type="text" placeholder="Description (max. details)" formControlName="descricao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }"></textarea>
                        <div *ngIf="submitted && f.descricao.errors" class="invalid-feedback">
                            <div *ngIf="f.descricao.errors.required">Description is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file" name="imagem" (change)="fileProgress($event)" formControlName="imagem" accept=".png" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagem.errors }" />
                        <div *ngIf="submitted && f.imagem.errors" class="invalid-feedback">
                            <div *ngIf="f.imagem.errors.required">Image is required</div>
                        </div>
                    </div>

                    <div *ngIf="fileUploadProgress">
                        Upload progress: {{ fileUploadProgress }}
                    </div>

                    <div class="image-preview mb-3" *ngIf="previewUrl">
                        <img [src]="previewUrl" height="300" />
                    </div>

                    <div class="mb-3" *ngIf="uploadedFilePath">
                        {{uploadedFilePath}}
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-6">
                            <button class="btn btn-danger btn-block">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>