<div id="login" class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3 login-section">
      <h2 class="text-white text-center">Login</h2>
      <alert></alert>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="/assets/icons/bootstrap/person-fill.svg" alt=""
                  width="24" height="24" title="person"></span>
            </div>
            <input type="text" placeholder="Username" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          </div>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="/assets/icons/bootstrap/lock-fill.svg" alt=""
                  width="24" height="24" title="person"></span>
            </div>
            <input type="password" placeholder="Password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button [disabled]="loading" class="btn btn-block btn-success btn-block">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <a routerLink="/" class="btn btn-secondary btn-block">Home</a>
          </div>
          <div class="col-md-6">
            <a routerLink="/register" class="btn btn-primary btn-block">Registar</a>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12 text-center"><a routerLink="/register-chefe" class="text-white">Registar empresa</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
    