#printoutPanel {
    border          : none;
    padding         : 5px;
    font            : 15px/15px sans-serif;
    width           : 20%;
    height          : 50vh;
    overflow        : auto;
    float           : right;
    background-color: transparent;
}

#myMap {
    width : 80%;
    height: 50vh;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width : 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 10px olivedrab;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background   : yellowgreen;
    box-shadow   : inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #7bac10;
}