<div id="registerChefe" class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3 registerChefe-section">
      <h2 class="text-white text-center">Registo empresa</h2>
      <alert></alert>
        <form [formGroup]="registerChefeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" placeholder="Primeiro nome" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Primeiro nome obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Último nome" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Último nome obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Nome utilizador" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Nome utilizador obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password obrigatória</div>
              <div *ngIf="f.password.errors.minlength">Password tem de ter 6 carateres</div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" placeholder="NIF" formControlName="nif" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nif.errors }" />
            <div *ngIf="submitted && f.nif.errors" class="invalid-feedback">
              <div *ngIf="f.nif.errors.required">NIF é obrigatório</div>
              <div *ngIf="f.nif.errors.minlength">NIF tem de ter 9 números</div>
              <div *ngIf="f.nif.errors.maxlength">NIF tem de ter 9 números</div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" placeholder="Nome da Empresa" formControlName="nomeEmpresa" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nomeEmpresa.errors }" />
            <div *ngIf="submitted && f.nomeEmpresa.errors" class="invalid-feedback">
              <div *ngIf="f.nomeEmpresa.errors.required">Nome é obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Localização da Empresa" formControlName="localEmpresa" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.localEmpresa.errors }" />
            <div *ngIf="submitted && f.localEmpresa.errors" class="invalid-feedback">
              <div *ngIf="f.localEmpresa.errors.required">Localização é obrigatória</div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary btn-block">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Registar
            </button>
          </div>

          <div class="row justify-content-end">
            <div class="col-6">
              <a routerLink="/login"><button class="btn btn-danger btn-block">Cancelar</button></a>
            </div>
          </div>

        </form>
      </div>
    </div>
</div>
