<p>dashboard works!</p>
<highcharts-chart 
  [Highcharts]="Highcharts"
 
  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"
 
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"
 
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>