<nav class="navbar navbar-light bg-faded navbar-expand-lg" style=" background-color: #6def7b; border-color: #000;" *ngIf="!currentUser">
    <a class="navbar-brand" routerLink="/"><img [src]="'assets/icons/icon_mascote_Garbage_Collector.png'" width="30" height="30" class="d-inline-block align-top" alt="nome">Garbage_Collector</a>
    <ul class="nav navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/register"><img src="/assets/icons/bootstrap/box-arrow-up-right.svg" alt="" width="24" height="24" title="Registo"> Registo</a>
        <a class="nav-item nav-link" routerLink="/login"><img src="/assets/icons/bootstrap/box-arrow-up.svg" alt="" width="24" height="24" title="Login"> Login</a>
    </ul>
</nav>
<!-- nav utilizador autenticado-->
<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="background-color: #4CAF50 !important;"
  *ngIf="currentUser"> -->
<!-- <nav class="navbar navbar-dark bg-success navbar-expand-lg" *ngIf="currentUser"><nav class="navbar navbar-dark bg-dark navbar-expand-lg" *ngIf="currentUser"> -->
<nav class="navbar navbar-light bg-faded navbar-expand-lg" style=" background-color: #6def7b; border-color: #000;" *ngIf="currentUser">
    <a class="navbar-brand nav-item" routerLink="/"><img [src]="'assets/icons/icon_mascote_Garbage_Collector.png'" width="30" height="30" class="d-inline-block align-top" alt="nome">Garbage_Collector</a>

    <button class="navbar-toggler custom-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="navbar-nav collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin"><img src="/assets/icons/bootstrap/alert-circle-fill.svg" alt="" width="24" height="24" title="Visivel so para admin"> Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/ecopontos"><img src="/assets/icons/bootstrap/trash-fill.svg" alt="" width="24" height="24" title="Ecopontos"> Ecopontos</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/profile"><img src="/assets/icons/bootstrap/award.svg" alt="" width="24" height="24" title="Perfil"> Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/listagens-users" *ngIf="isGestor_Chefe"><img src="/assets/icons/bootstrap/person-fill.svg" alt="" width="24" height="24" title="Users"> Listar Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/camioes" *ngIf="isGestor_Chefe || isGestor"><img src="/assets/icons/bootstrap/toggles.svg" alt="" width="24" height="24" title="Camiões"> Listar Camioes</a>
            </li>

            <!--       <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/add-empresa" *ngIf="isAdmin"><img
            src="/assets/icons/bootstrap/building.svg" alt="" width="24" height="24" title="Adicionar Empresa">
          Adicionar Empresa</a>
      </li> -->
            <li class="nav-item">
                <a class="nav-item nav-link" *ngIf="currentUser.role !== 'Cidadao'" routerLink="/ver-rota"><img src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota">Simular rota</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/notification"><img src="/assets/icons/bootstrap/alert-triangle-fill.svg" alt="" width="24" height="24" title="Rota"> Notificação
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/listagem-notificacoes" *ngIf="currentUser.role !== 'Cidadao'"><img src="/assets/icons/bootstrap/alert-triangle-fill.svg" alt="" width="24" height="24" title="Rota"> Lista de notificações</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/dashboard"> <img src="/assets/icons/bootstrap/pie-chart.svg" alt="" width="24" height="24" title="Dashboard"> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/calendario" *ngIf="currentUser.role !== 'Cidadao'"> <img src="/assets/icons/bootstrap/calendar-fill.svg" alt="" width="24" height="24" title="calendario"> Calendario</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" (click)="logout()">Logout <img src="/assets/icons/bootstrap/box-arrow-right.svg"
            alt="" width="24" height="24" title="Logout"></a>
            </li>
        </ul>
    </div>
</nav>

<main class="m-0 p-0">
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>