﻿<div id="login" class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 login-section">
        <h2 class="text-white text-center">Notificação recolha lixo</h2>
        <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-6">
                    <app-maps></app-maps>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <textarea type="text" placeholder="Description (max. details)" formControlName="descricao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }"></textarea>
                        <div *ngIf="submitted && f.descricao.errors" class="invalid-feedback">
                            <div *ngIf="f.descricao.errors.required">Descrição obrigatória</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" name="imagem" (change)="fileProgress($event)" formControlName="imagem" accept=".png"  class="w-100" [ngClass]="{ 'is-invalid': submitted && f.imagem.errors }" />
                        <div *ngIf="submitted && f.imagem.errors" class="invalid-feedback">
                            <div *ngIf="f.imagem.errors.required">Imagem obrigatória</div>
                        </div>
                    </div>

                    <div *ngIf="fileUploadProgress">
                        Upload progress: {{ fileUploadProgress }}
                    </div>

                    <div class="image-preview mb-3" *ngIf="previewUrl">
                        <img [src]="previewUrl" width="300px" />
                    </div>

                    <div class="mb-3" *ngIf="uploadedFilePath">
                        {{uploadedFilePath}}
                    </div>
                    
                </div>
            </div>

            
          <div class="row mt-3">
            <div class="col-md-12">
              <button [disabled]="loading" class="btn btn-block btn-success btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Confirm
              </button>
            </div>
          </div>

        </form>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- </div>
  </div> -->
  