﻿  <div class="side-form">
    <h1>{{title}}</h1>
    <div class="form-container">
      <form [formGroup]="ecopontoForm" (ngSubmit)="saveEcoponto()">
              <div class="row">
        <div class="form-group col">
          <label for="sensor">Sensor</label>
          <input type="text" name="sensor" [(ngModel)]="ecoponto.sensor" formControlName="sensor" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sensor.errors }" />
          <div *ngIf="submitted && f.sensor.errors" class="invalid-feedback">
            <div *ngIf="f.sensor.errors.required">Sensor is required</div>
          </div>
        </div>
        <div class="form-group col-4">
          <label for="distrito">Distrito</label>
          <input type="text" name="distrito" [(ngModel)]="ecoponto.distrito" formControlName="distrito"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.distrito.errors }" />
          <div *ngIf="submitted && f.distrito.errors" class="invalid-feedback">
            <div *ngIf="f.distrito.errors.required">Distrito is required</div>
          </div>
        </div>
        <div class="form-group col-4">
          <label for="concelho">Concelho</label>
          <input type="text" name="concelho" [(ngModel)]="ecoponto.concelho" formControlName="concelho"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.concelho.errors }" />
          <div *ngIf="submitted && f.concelho.errors" class="invalid-feedback">
            <div *ngIf="f.concelho.errors.required">Concelho is required</div>
          </div>
        </div>
              </div>
                          <div class="row">
        <div class="form-group col">
          <label for="freguesia">Freguesia</label>
          <input type="text" name="freguesia" [(ngModel)]="ecoponto.freguesia" formControlName="freguesia"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.freguesia.errors }" />
          <div *ngIf="submitted && f.freguesia.errors" class="invalid-feedback">
            <div *ngIf="f.freguesia.errors.required">Freguesia is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="rua">Rua</label>
          <input type="text" name="rua" [(ngModel)]="ecoponto.rua" formControlName="rua" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.rua.errors }" />
          <div *ngIf="submitted && f.rua.errors" class="invalid-feedback">
            <div *ngIf="f.rua.errors.required">Rua is required</div>
          </div>
        </div>
        <div class="form-group col-3">
          <label for="codigoPostal">Codigo-Postal</label>
          <input type="text" name="codigoPostal" [(ngModel)]="ecoponto.codigoPostal" formControlName="codigoPostal" class="form-control" [ngClass]=" {'is-invalid': submitted && f.codigoPostal.errors }" />
          <div *ngIf="submitted && f.codigoPostal.errors" class="invalid-feedback">
                <div *ngIf="f.codigoPostal.errors.required">Codigo-Postal is required</div>
                <div *ngIf="f.codigoPostal.errors.minlength">Codigo-Postal must be at 9 characters</div>
                <div *ngIf="f.codigoPostal.errors.maxlength">Codigo-Postal must be at 9 characters</div>
              </div>
            </div>
                  </div>
                              <div class="row">
        <div class="form-group col">
          <label for="lat">Latitude</label>
          <input type="number" name="lat" [(ngModel)]="ecoponto.lat" formControlName="lat" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lat.errors }" />
          <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
            <div *ngIf="f.lat.errors.required">Latitude is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="lon">Longitude</label>
          <input type="number" name="lon" [(ngModel)]="ecoponto.lon" formControlName="lon" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lon.errors }" />
          <div *ngIf="submitted && f.lon.errors" class="invalid-feedback">
            <div *ngIf="f.lon.errors.required">Longitude is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="tipo">Tipo</label>
          <input type="text" name="tipo" [(ngModel)]="ecoponto.tipo" formControlName="tipo" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" />
          <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
            <div *ngIf="f.tipo.errors.required">Tipo is required</div>
          </div>
        </div>
        </div>
                                    <div class="row">
        <div class="form-group col">
          <label for="altura">Altura (m)</label>
          <input type="number" name="altura" [(ngModel)]="ecoponto.altura" formControlName="altura" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.altura.errors }" />
          <div *ngIf="submitted && f.altura.errors" class="invalid-feedback">
            <div *ngIf="f.altura.errors.required">Altura is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="alturaLivre">Altura Livre (m)</label>
          <input type="number" name="alturaLivre" [(ngModel)]="ecoponto.alturaLivre" formControlName="alturaLivre"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alturaLivre.errors }" />
          <div *ngIf="submitted && f.alturaLivre.errors" class="invalid-feedback">
            <div *ngIf="f.alturaLivre.errors.required">Altura Livre is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="capacidade">Capacidade (m³)</label>
          <input type="number" name="capacidade" [(ngModel)]="ecoponto.capacidade" formControlName="capacidade"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.capacidade.errors }" />
          <div *ngIf="submitted && f.capacidade.errors" class="invalid-feedback">
            <div *ngIf="f.capacidade.errors.required">Capacidade is required</div>
          </div>
        </div>
              </div>
        <div class="form-group">
          <a class="btn btn-default" routerLink="/ecopontos">Cancel</a>
          <button [disabled]="" class="btn btn-primary">
            <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
        </div>
      </form>
    </div>
</div>
