<footer class="bg-dark text-white">
  <div class="row" >
    <div class="col-md-6 text-center">
      <a href="https://gitlab.com/josefernandoo/Garbage_Collector" class="text-white" target="_top">Credits for
        LDS-Group:
        Garbage_Collector</a>
    </div>
    <div class="col-md-6 text-center">
      © 2020 chegou! && Garbage_Collector também! LDA - ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
