<div class="container-fluid">
  <div class="card col-md-12 font-weight-bold card-header" style="margin-top: 10px">
    <div>
      <h2 class="col-md-9" style="display: inline-block;">Lista de camiões</h2>
      <a style="float: right;" class="col-md-2 btn btn-outline-info btn-sm mr-2" *ngIf="currentUser.role !== 'Cidadao'" routerLink="adicionarCamiao">Adicionar camiao</a>
    </div> 
  </div>
    
    <div class="row mt-2">

        <div class="col-md-12">
          <div class="col-md-2" style="display: inline-block;">
              <h6>Matricula</h6>
          </div>
          <div class="col-md-1" style="display: inline-block;">
              <h6>Carga</h6>
          </div>
          <div class="col-md-2" style="display: inline-block;">
              <h6>Distrito</h6>
          </div>
          <div class="col-md-2" style="display: inline-block;">
              <h6>Concelho</h6>
          </div>
          <div class="col-md-2" style="display: inline-block;">
              <h6>Tipo</h6>
          </div>
          <div class="col-md-3" style="display: inline-block;">
              <h6>Empresa</h6>
          </div>
      </div>

      <div class="col-md-12 mb-1" *ngFor="let camiao of camioes">
        <div class="card">
          <div class="card-body">
              <div class="row justify-content-between align-items-center"> 
                <div class="col-md-2">
                  <h5>{{ camiao.matricula }}</h5>
                </div>  
                
                <div class="col-md-1">
                  <h5>{{ camiao.carga }}</h5>
                </div>
  
                

                <div class="col-md-2 font-weight-bold"><h5>{{ camiao.distrito }}</h5></div>
                <div class="col-md-2"><h5>{{ camiao.concelho }}</h5></div>
                <div class="col-md-2"><h5>{{ camiao.tipo }}</h5></div>
                <div class="col-md-3"><h5>{{ camiao.empresa }}</h5></div>
              </div>
        </div>
          <div class="card-footer bg-dark text-right text-white">
          <a class="btn btn-outline-info btn-sm mr-2" [routerLink]="['editarCamiao', camiao.id]">Editar</a>
          <button (click)="deleteCamiao(camiao.id)" [disabled]="camiao.deleting" class="btn btn-sm btn-outline-danger">
            <span *ngIf="camiao.deleting" class="spinner-border spinner-border-sm mr-1"></span>
            Remover
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="view-side-form">
      <router-outlet></router-outlet>
    </div>
