﻿<div class="jumbotron" style="background-image: url(assets/img/cidades_inteligentes.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4">
        <h2 style="text-align: center">Registo</h2>
        <alert></alert>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" placeholder="First Name" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Username" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" placeholder="NIF" formControlName="nif" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nif.errors }" />
            <div *ngIf="submitted && f.nif.errors" class="invalid-feedback">
              <div *ngIf="f.nif.errors.required">NIF is required</div>
              <div *ngIf="f.nif.errors.minlength">NIF must be at 9 characters</div>
              <div *ngIf="f.nif.errors.maxlength">NIF must be at 9 characters</div>
            </div>
          </div>

          <div class="form-group">
            <select formControlName="role" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
              <option value="" selected disabled hidden>Tipo de Utilizador</option>
              <option value="Admin">Admin</option>
              <option value="Gestor_Chefe">Gestor_Chefe</option>
              <option value="Gestor" selected>Gestor</option>
              <option value="Camionista">Camionista</option>
              <option value="Cidadao">Cidadao</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
              <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary btn-block">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Registar
            </button>
          </div>

          <div class="row justify-content-end">
            <div class="col-6">
              <a routerLink="/login"><button class="btn btn-danger btn-block">Cancelar</button></a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
