<h1>Listagem</h1>

<div class="card mt-4">
    <h4 class="card-header">{{currentUser.empresa}}</h4>
    <div class="card-body">

        <p>Lista de Utilizadores:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngFor="let user of users">
            <li>{{user.firstName}} {{user.lastName}} {{user.role}}</li>
        </ul>
    </div>
</div>