<h1>Notificações</h1>
<table class="table table-bordered products-table">
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Localização</th>
        <th>Utilizador</th>
        <th></th>
    </tr>
    <tr *ngFor="let notificacao of notificacoes">
        <td>{{notificacao.id}}</td>
        <td>{{notificacao.descricao}}</td>
        <td>{{notificacao.latitude}} ;  {{notificacao.longitude}}</td>
        <td>{{notificacao.userId}}</td>
        <td class="delete-column">
            <button (click)="deleteNotificacao(notificacao.id)" [disabled]="notificacao.deleting" class="btn btn-sm btn-danger">
        <span *ngIf="notificacao.deleting" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
        </td>
    </tr>
</table>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>