<div class="card mt-4">
    <h4 class="card-header">Perfil</h4>
    <div class="container">
        <div class="row profile">
            <div class="card-body">
                <div class="profile-sidebar">

                    <div class="profile-userpic">
                        <img src="https://www.medaid.co.uk/wp-content/uploads/2019/04/default.jpg" class="img-responsive" alt="Image">
                    </div>

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{currentUser.firstName}} {{currentUser.lastName}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{currentUser.role}}
                        </div>
                    </div>

                    <div *ngIf="!role" class="profile-userbuttons">
                        <button type="button" routerLink="/updateUser" class="btn btn-success btn-sm">Editar</button>
                    </div>

                    <!-- <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i> Menu </a>
                            </li>
                        </ul>
                    </div> -->

                </div>
            </div>
            <!-- <div class="profile-usertitle-job">
                {{currentUser.role}}
            </div> -->
        </div>
    </div>