<!--
    IR AO index!!!

    ja tentei fazer load da funcao atraves de uma div
-->


<body onload="loadMapScenario();">
    <!--<div style='width: 20%; height: 58vh; float:right;' id='printoutPanel'></div>

    <div id='myMap' style='width: 80%; height: 50vh; float: left;'></div>-->


    <div id='printoutPanel'></div>

    <div id='myMap'></div>


</body>