<div class="side-form">
    <h1>{{title}}</h1>
    <alert></alert>
    <div class="form-container">
        <form (ngSubmit)="saveCamiao()">
            <div class="form-group">
                <label for="sensor">Matricula</label>
                <input type="text" name="matricula" [(ngModel)]="camiao.matricula" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="distrito">Carga</label>
                <input type="number" name="distrito" [(ngModel)]="camiao.carga" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="distrito">Distrito</label>
                <input type="text" name="distrito" [(ngModel)]="camiao.distrito" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="freguesia">Concelho</label>
                <input type="text" name="concelho" [(ngModel)]="camiao.concelho" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" name="tipo" [(ngModel)]="camiao.tipo" class="form-control" required />
            </div>
            <div class="form-group">
                <a class="btn btn-default" routerLink="/camioes">Cancel</a>
                <button [disabled]="saving" class="btn btn-primary">
            <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
            </div>
        </form>
    </div>
</div>