<div class="card">
<div class="row text-center" style="padding: 1%;">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Anterior
            </div>
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" mwlCalendarToday [(viewDate)]="viewDate">
                Hoje
            </div>
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Próximo
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Mês
            </div>
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Semana
            </div>
            <div class="col-md-12 btn btn-outline-info btn-sm mr-2 ng-tns-c61-5 ng-star-inserted" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Dia
            </div>
        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<br /><br /><br />
<div *ngIf="currentUser.role !== 'Camionista'">
    <h3>
        Editar eventos
        <button class="btn btn-primary pull-right" (click)="addEvent()">
    Adicionar novo evento
  </button>
        <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Primeira cor</th>
                    <th>Segunda cor</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Remover</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let event of events">
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
                    </td>
                    <td>
                        <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
                    </td>
                    <td>
                        <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
                    </td>
                    <td>
                        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                    </td>
                    <td>
                        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteEvento(event.id)">
            Remover
          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Evento terminado</h5>
            <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
            <div>
                Ação:
                <pre>{{ modalData?.action }}</pre>
            </div>
            <div>
                Evento:
                <pre>{{ modalData?.event | json }}</pre>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
        </div>

    </ng-template>
</div>
</div>