﻿<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 *ngIf="currentUser">Bem vindo {{currentUser.username}}!</h1>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark">
          <h4 class="text-white">Mapa</h4>
        </div>
        <div class="card-body">
          <app-maps class="w-100"></app-maps>
        </div>
        <div class="card-footer" *ngIf="currentUser">
          <div *ngIf="currentUser.role == 'Admin'" class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
                src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota">Simular rota</button>
          </div>
          <div *ngIf="currentUser.role == 'Gestor_Chefe' || currentUser.role=='Gestor'" class=" profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
                src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota">Simular rota</button>
          </div>
          <div *ngIf="currentUser.role == 'Camionista'" class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm" routerLink="/ver-rota"><img
                src="/assets/icons/bootstrap/arrow-left-right.svg" alt="" width="24" height="24" title="Rota">Simular rota</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
