<div class="container-fluid">
  <div class="card col-md-12 font-weight-bold card-header" style="margin-top: 10px">
    <div>
      <h2 class="col-md-9" style="display: inline-block;">Notificações</h2>
    </div>
  </div>

  <div class="row mt-2">

    <div class="col-md-12">
      <div class="col-md-1" style="display: inline-block;">
        <h5>Id</h5>
      </div>
      <div class="col-md-3" style="display: inline-block;">
        <h5>Descrição</h5>
      </div>
      <div class="col-md-4" style="display: inline-block;">
        <h5>Localização</h5>
      </div>
      <div class="col-md-1" style="display: inline-block; text-align: center">
        <h6>Id util.</h6>
      </div>
      <div class="col-md-2" style="display: inline-block;">
        <h5>Imagem</h5>
      </div>
      <div class="col-md-1" style="display: inline-block;">
        <h5>Estado</h5>
      </div>
    </div>

    <div class="col-md-12" *ngFor="let notificacao of notificacoes">
      <div class="card">
        <div class="card-body">
          <div class="col-md-1" style="display: inline-block;">
            <small>{{ notificacao.id }}</small>
          </div>
          <div class="col-md-3" style="display: inline-block;">
            <h5>{{notificacao.descricao}}</h5>
          </div>
          <div class="col-md-4" style="display: inline-block;">
            {{notificacao.latitude}};{{notificacao.longitude}}
          </div>
          <div class="col-md-1" style="display: inline-block; text-align: center">
            {{notificacao.userId}}
          </div>
          <div class="col-md-2" style="display: inline-block;">
            <img src="{{ notificacao.imagem }}" width="180px" />
          </div>
          <div class="col-md-1" style="display: inline-block;">
            <p *ngIf="isAdmin() && !isPendente(notificacao)">Concluída</p>
            <p *ngIf="isAdmin() && isPendente(notificacao)">Pendente</p>
            <button *ngIf="!isAdmin() && isPendente(notificacao)" (click)="trocarEstado(notificacao)">Concluir</button>
            <button *ngIf="!isAdmin() && !isPendente(notificacao)" (click)="trocarEstado(notificacao)">Refazer</button>
          </div>
        </div>
        <div class="card-footer bg-dark text-right text-white">
          <button *ngIf="isAdmin() && !isPendente(notificacao)" (click)="deleteNotificacao(notificacao.id)"
          [disabled]="notificacao.deleting" class="btn btn-sm btn-danger">
          <span *ngIf="notificacao.deleting" class="spinner-border spinner-border-sm mr-1"></span>
          Remover
        </button>
        </div>
      </div>
    </div>
  </div>

  <div class="view-side-form">
    <router-outlet></router-outlet>
  </div>
